@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {height: 100%;}

body {
    width: 100%;
    height: 100%;
    background-color: azure;
    color: rgb(36, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 125%;
    float: left;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;  /* ie8 */
}
/* */
a {
    color:aliceblue;
    text-decoration: none;
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
}

 a:hover {
    color:rgb(132, 132, 255);
    text-decoration: none;
}
a, a:hover {
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
} 

.clear {
    clear: both;
}

/* Стили для шапки */

header {
    color:aliceblue;
    width: 98%;
    float: left;
    padding: 1%;
    background-color: rgb(44, 56, 102);
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(145, 151, 202, 0.562);
}

header #logo {
    color:rgb(255, 230, 6);
    width: 20%;
    float: left;
    font-size:x-large;
    font-family: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    text-decoration: none;
}

header #logo a {
    color:rgb(255, 230, 6);
    font-size:30px;
    font-family:'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
}

header #logo span {
    color:rgb(132, 132, 255);
    }

header #lib {
    color: aliceblue;
    width: 16%;
    float: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

header #lib:hover {
    color:rgb(132, 132, 255);
} 

header #device {
    color: aliceblue;
    width: 16%;
    float: left;
    padding: 5px;
}

header #device:hover {
    color: rgb(132, 132, 255);
}

header #learn {
    color: aliceblue;
    float: left;
    padding: 5px;
}

header #learn:hover {
    color: rgb(132, 132, 255);
}

/* header #menuHead {
    color: aliceblue;
    font-style:unset;
    width: 16%;
    float: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
header #menuHead div {
    float: left;
    padding: 5px;
} */

header #about {
    color: aliceblue;
    width: 16%;
    float: left;
    padding: 5px;
    text-decoration: none;
}

header #about:hover {
    color: rgb(132, 132, 255);
}

header #auth {
    width: 2.5%;
    font-size: 10px;
    float: right;
    padding: 5px;
    background-color: rgb(65, 67, 190);
    border-radius: 7px;
    font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;

}

header #auth div:hover {
    color:rgb(221, 221, 221);
    background-color: rgb(148, 149, 201);
}

header #reg {
    margin-right: 10px;
    width: 5%;
    float: right;
    padding: 5px;
    font-size: 10px;
    background-color: rgb(190, 65, 132);
    border-radius: 7px;
}

header #reg:hover {
    background-color: rgb(201, 134, 170);
}


/* Стили для всего документа*/

#wrapper{
    position: relative;
    width: 80%;
    margin-left: 10%;
    float: left;
}

/* Стили для левой колонки */

#wrapper #leftCol{
    width: 60%;
    margin-right: 10%;
    float: left;
}

#wrapper #leftCol #bigArticle
{
    width: 100%;
    height: 50px;
    margin-left: 10%;
    padding: 1%;
}

#wrapper #rightCol{
    width: 20%;
    float: left;
}

#wrapper #rightCol .banner{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

/* Стили для футера */

footer{
    position:static ;
    bottom: 0;
    width: 100%;
    float: left;
    padding: 1%;
    background-color: rgb(163, 211, 255);
    border-top: 2px solid silver;
    margin-top: 30px;
    bottom: true;
}

footer #social{
    float: left;
    width: 50%;
}

footer #social img{
    width: 25px;
    height: 25px;
    float: left;
    margin-bottom: 5px;
}

footer #rights{
    float: right;
    width: 50%;
    text-align: right;
    font-size: 1.1em;
    margin-right: 30px;
}